USE [master]
GO
/****** Object:  Database [Prueba1]    Script Date: 6/3/2023 14:35:03 ******/
CREATE DATABASE [Prueba1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Prueba1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prueba1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Prueba1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba1]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 6/3/2023 14:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](128) NOT NULL,
	[Precio] [money] NOT NULL,
 CONSTRAINT [PK_Articulo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DBErrors]    Script Date: 6/3/2023 14:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBErrors](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[ErrorNumber] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorLine] [int] NULL,
	[ErrorProcedure] [varchar](max) NULL,
	[ErrorMessage] [varchar](max) NULL,
	[ErrorDateTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulo] ON 

INSERT [dbo].[Articulo] ([Id], [Nombre], [Precio]) VALUES (1, N'Bombillo', 1500.0000)
INSERT [dbo].[Articulo] ([Id], [Nombre], [Precio]) VALUES (2, N'Mini-Bombillo', 150.0000)
INSERT [dbo].[Articulo] ([Id], [Nombre], [Precio]) VALUES (3, N'Serrucho', 13600.0000)
SET IDENTITY_INSERT [dbo].[Articulo] OFF
GO
SET IDENTITY_INSERT [dbo].[DBErrors] ON 

INSERT [dbo].[DBErrors] ([ErrorID], [UserName], [ErrorNumber], [ErrorState], [ErrorSeverity], [ErrorLine], [ErrorProcedure], [ErrorMessage], [ErrorDateTime]) VALUES (1, N'DESKTOP-38G492P\Usuario', 547, 0, 16, 41, N'SP_InsertArticulo', N'The INSERT statement conflicted with the CHECK constraint "Nombre". The conflict occurred in database "Prueba1", table "dbo.Articulo", column ''Nombre''.', CAST(N'2023-03-01T23:31:02.287' AS DateTime))
INSERT [dbo].[DBErrors] ([ErrorID], [UserName], [ErrorNumber], [ErrorState], [ErrorSeverity], [ErrorLine], [ErrorProcedure], [ErrorMessage], [ErrorDateTime]) VALUES (2, N'DESKTOP-38G492P\Usuario', 547, 0, 16, 41, N'SP_InsertArticulo', N'The INSERT statement conflicted with the CHECK constraint "Nombre". The conflict occurred in database "Prueba1", table "dbo.Articulo", column ''Nombre''.', CAST(N'2023-03-01T23:40:23.407' AS DateTime))
INSERT [dbo].[DBErrors] ([ErrorID], [UserName], [ErrorNumber], [ErrorState], [ErrorSeverity], [ErrorLine], [ErrorProcedure], [ErrorMessage], [ErrorDateTime]) VALUES (3, N'DESKTOP-38G492P\Usuario', 3902, 1, 16, 55, N'SP_InsertArticulo', N'The COMMIT TRANSACTION request has no corresponding BEGIN TRANSACTION.', CAST(N'2023-03-02T14:16:46.803' AS DateTime))
SET IDENTITY_INSERT [dbo].[DBErrors] OFF
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD  CONSTRAINT [Nombre] CHECK  ((NOT [Nombre] like '%[^A-Za-z-]%'))
GO
ALTER TABLE [dbo].[Articulo] CHECK CONSTRAINT [Nombre]
GO
/****** Object:  StoredProcedure [dbo].[ShowData1]    Script Date: 6/3/2023 14:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ShowData1]
AS
SELECT * FROM Articulo ORDER BY Nombre
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert1]    Script Date: 6/3/2023 14:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert1]
	@ParNombre as varchar(128)
	, @ParPrecio as money
AS
INSERT INTO dbo.Articulo VALUES (@ParNombre,@ParPrecio)
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertArticulo]    Script Date: 6/3/2023 14:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_InsertArticulo]
	@inNombre VARCHAR(128)		-- Nuevo Nombre de articulo
	, @inPrecio MONEY				-- Nuevo Precio
	, @outResultCode INT OUTPUT			-- Codigo de resultado del SP
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- Se validan los datos de entrada, pues no estamos seguros que se validaron en capa logica.
	-- Validar que articulo exista.

	BEGIN TRY
		-- Inicia codigo en el cual se capturan errores

		DECLARE @LogDescription VARCHAR(2000)='Insertando en tabla Articulo: {Nombre="'
		
		SET @outResultCode=0;  -- Por default codigo de salida error en 0 significa que no hubo error

		IF ( -- Verificar que el nombre solo contenga guiones o valores alfabeticos
			@inNombre like '%[^A-Za-z-]%'
		)
		BEGIN 
			-- procesar error
			SET @outResultCode=50001		-- Articulo tiene caracteres invalidos
			RETURN;
		END;

		IF EXISTS (	-- Verificar por medio del nombre si el articulo ya existe
			SELECT 1 
			FROM dbo.Articulo A 
			WHERE A.Nombre=@inNombre
			)
		BEGIN
			-- procesar error
			SET @outResultCode=50002;		-- Articulo ya existe 
			RETURN;
		END; 

		IF  (--Verificar si el string del nombre es nulo o su cantidad de caracteres no es mayor que cero
			@inNombre IS NULL OR NOT LEN(@inNombre) > 0	
			)
		BEGIN
			-- procesar error
			SET @outResultCode=50003;		-- Codigo de salida del nombre no ingresado
			RETURN;
		END; 

		IF(--Verificar si el precio es un valor cero, es decir un valor mnonetario invalido 
			@inPrecio = 0					
			)
		BEGIN
			-- procesar error
			SET @outResultCode=50004;		-- Valor monetario invalido 
			RETURN;
		END; 

		-- se preprocesa lo que luego se actualiza, si es necesario se guarda informacion en variables o en tablas variable

		Set @LogDescription = 
					@LogDescription+@inNombre
					+'", Precio="'
					+CONVERT(VARCHAR, @inPrecio)
					+'IdClaseArticulo="';


		-- siempre que vamos a actualizar tablas (y son 2 o mas tablas se inicia transaccion de BD)_
		BEGIN TRANSACTION tInsertArticulo
			
			INSERT [dbo].[Articulo] (
				[Nombre]
				, [Precio])
			VALUES (
				@inNombre
				, @inPrecio
			);

			-- salvamos en evento log el evento de actualizar el articulo
		COMMIT TRANSACTION tInsertArticulo

	END TRY
	BEGIN CATCH

		IF @@TRANCOUNT>0  -- error sucedio dentro de la transaccion
		BEGIN
			ROLLBACK TRANSACTION tInsertArticulo; -- se deshacen los cambios realizados
		END;
		INSERT INTO dbo.DBErrors	VALUES (
			SUSER_SNAME()
			, ERROR_NUMBER()
			, ERROR_STATE()
			, ERROR_SEVERITY()
			, ERROR_LINE()
			, ERROR_PROCEDURE()
			, ERROR_MESSAGE()
			, GETDATE()
		);

		Set @outResultCode=50005;
	
	END CATCH

	SET NOCOUNT OFF;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Mostrar]    Script Date: 6/3/2023 14:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Mostrar]
	@inPatron VARCHAR(32)
	, @outResultCode INT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SET @outResultCode = 0;  -- no error code

		-- SE HACEN VALIDACIONES

		IF (@inPatron IS NULL)
		BEGIN
			SET @outResultCode = 50002;  -- parametro de entrada es nulo
			RETURN;
		END;

		SELECT A.[Nombre]
			, A.[Precio]
		FROM dbo.Articulo A
		WHERE A.Nombre LIKE '%'+@inPatron+'%'
		ORDER BY A.Nombre;

	END TRY
	BEGIN CATCH

		INSERT INTO dbo.DBErrors	VALUES (
			SUSER_SNAME()
			, ERROR_NUMBER()
			, ERROR_STATE()
			, ERROR_SEVERITY()
			, ERROR_LINE()
			, ERROR_PROCEDURE()
			, ERROR_MESSAGE()
			, GETDATE()
		);

		Set @outResultCode=50005;
	
	END CATCH


	SET NOCOUNT OFF;
END;
GO
USE [master]
GO
